
{% extends 'base.html' %}

{% block title %}Email sent{% endblock %}

{% block content %}
	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<div id="colorlib-main">
			<section class="ftco-section ftco-no-pt ftco-no-pb">
	    	<div class="container">
                <div class="col-xl-8 py-5 px-md-5">
                    <div class="row pt-md-4">
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex">
                                <div class="text text-2 pl-md-4">
                                    <h1 class="mb-2">Check your inbox.</h1>
                                    <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	    </section>
		</div><!-- END COLORLIB-MAIN -->
	</div><!-- END COLORLIB-PAGE -->
{% endblock %}