{% extends 'bases.html' %}

{% block title %}Login{% endblock %}

{#{% block content %}#}
{#    <h2>Login</h2>#}
{##}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit">Login</button>#}
{#        <p><a href="{% url 'password_reset' %}">Reset password</a></p>#}
{#    </form>#}
{#{% endblock %}#}

{% block content %}
    <div class="hero-body has-text-centered">
        <div class="login">
            <img src="https://logoipsum.com/logo/logo-1.svg" width="325px" />
            <form method="post">
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                        <input class="input is-medium is-rounded" type="email" placeholder="hello@example.com" autocomplete="username" required />
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-medium is-rounded" type="password" placeholder="**********" autocomplete="current-password" required />
                    </div>
                </div>
                <br />
                <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
                    Login
                </button>
            </form>
            <br>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <a href="#">Forgot Password?</a>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <a href="#">Create an Account</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}