{% extends 'bases.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
    {% if validlink %}<h1>Set a new password!</h1>
        <form method="post">
            {% csrf_token %}
    {#        {{ form.as_p }}#}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    <!--
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                    -->
                </div>
            {% endfor %}
            <button type="submit">Update password</button>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    {% endif %}
{% endblock %}