{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <title>Andrea - Free Bootstrap 4 Template by Colorlib</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/animate.css' %}">

            <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

            <link rel="stylesheet" href="{% static 'css/aos.css' %}">

            <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

            <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
            <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">


            <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">

            <!--Tinymce Text-Editor (Must be in Head Tag) -->
{#            <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>#}
{#            <script type="text/javascript" src="{% static 'js/tinymce/custom.js' %}"></script>#}
        {% endblock %}
    </head>

    <body>
        {% block leftside %}
            <aside id="colorlib-aside" role="complementary" class="js-fullheight">
                <nav id="colorlib-main-menu" role="navigation">
                    <ul>
                        <li><a href="{% url 'signup' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    </ul>
                </div>
            </aside> <!-- END COLORLIB-ASIDE -->
        {% endblock %}

        {% block content %}{% endblock %}
    </body>

    {% block js %}
        <!-- loader -->
        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/aos.js' %}"></script>
        <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
        <script src="{% static 'js/scrollax.min.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="{% static 'js/google-map.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</html>