{% extends "base.html" %}
{% load static %}

{% block content %}
	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<div id="colorlib-main">
			<section class="ftco-section ftco-no-pt ftco-no-pb">
	    	<div class="container">
                <div class="col-xl-8 py-5 px-md-5">
                    <div class="row pt-md-4">
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex">
                                <div class="text text-2 pl-md-4">
                                    <h3 class="mb-2"><a href="#">Stack stack and stack...</a></h3>

                                    {% if user.is_authenticated %}
                                        Hi {{ user.username }}!

                                        <h2 class="mb-2">Your data:</h2>
                                        Name: {{ user.first_name }} {{ user.last_name }} <br>
                                        Email: {{ user.email }}

                                        <p><a href="{% url 'logout' %}">Logout</a></p>
                                    {% else %}
                                        <p>You are not logged in</p>
                                        <a href="{% url 'login' %}">Login</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	    </section>
		</div><!-- END COLORLIB-MAIN -->
	</div><!-- END COLORLIB-PAGE -->
{% endblock %}