{% extends 'base.html' %}
{% load static %}

{% block title %}Profile Page{% endblock %}

{% block content %}
	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<div id="colorlib-main">
			<section class="ftco-section ftco-no-pt ftco-no-pb">
	    	<div class="container">
                <div class="col-xl-8 py-5 px-md-5">
                    <div class="row pt-md-4">
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex">
                                <div class="text text-2 pl-md-4">
                                    <h2 class="mb-2">Update profile</h2>
                                    {% if user.is_authenticated %}
                                        <form method="post">
                                            {% csrf_token %}
                                            {% for field in form %}
                                                <div class="field">
                                                    <div class="control has-icons-left has-icons-right">
                                                        {{ field.errors }}
                                                        {{ field.label_tag }} {{ field }}
                                                        <!--
                                                        {% if field.help_text %}
                                                            <p class="help">{{ field.help_text|safe }}</p>
                                                        {% endif %}
                                                        -->
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <button type="submit">Update</button>
                                        </form>
                                    {% else %}
                                        <a href="{% url 'login' %}">Login first</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	    </section>
		</div><!-- END COLORLIB-MAIN -->
	</div><!-- END COLORLIB-PAGE -->
{% endblock %}