<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
    </head>
    <body>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>

