{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}StackOverflow Listing{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>
    <body>
        {% block nav %}
            <nav class="navbar is-transparent">
              <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                  <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
                </a>
              </div>

              <div id="navbarExampleTransparentExample" class="navbar-menu">
                <div class="navbar-start">
                  <a class="navbar-item" href="https://bulma.io/">
                    Home
                  </a>
                    <a class="navbar-item" href="{% url 'signup' %}">
                        Register
                    </a>
                    <a class="navbar-item" href="{% url 'login' %}">
                        Login
                    </a>
                </div>
              </div>
            </nav>
        {% endblock %}

        {% block hero %}

        {% endblock %}

        {% block content %}

        {% endblock %}

        {% block footer %}

        {% endblock %}
    </body>
</html>