{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% endblock %}