{% extends 'bases.html' %}

{% block title %}Profile Page{% endblock %}

{% block content %}
    <h2>Profile update page</h2>
    <form method="post">
        {% csrf_token %}
{#        {{ form.as_p }}#}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                <!--
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
                -->
            </div>
        {% endfor %}
        <button type="submit">Sign up</button>
    </form>
{% endblock %}