{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <h2>Sign up</h2>
    <form method="post">
        {% csrf_token %}
{#        {{ form.as_p }}#}
        {% for field in form %}
            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    <!--
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                    -->
                </div>
            </div>
        {% endfor %}
        <button type="submit">Sign up</button>
    </form>
{% endblock %}